html {background: url(../images/bg.jpg) repeat;}
body {background: url(../images/pillar.jpg) repeat-y 50% 0; width: 900px; padding: 20px 60px; margin: 0 auto;}
#main {background: url(../images/figures.png) no-repeat 50% 0; min-height: 800px; margin-left: -15px; padding: 0 40px;}
#logo_link {text-decoration: none;}
#logo {color: #000; padding-top: 110px; background: url(../images/logo.png) no-repeat 50% 15px; margin: -10px -10px 40px; text-align: center; font-family: "Courier New", "Courier", "Monospaced"; font-size: 18px;}
#welcome {margin-bottom: 1em; font-size: 20px;}

#next {margin: 20px 0; padding: 10px 20px; background: url(../images/email.gif) repeat; font-size: 18px; border-bottom: 1px solid #a2a2a2;}

#signup {margin: 20px 0 30px; padding: 20px; background: url(../images/email.gif) repeat; font-size: 18px; border-bottom: 1px solid #a2a2a2;}
#signup h2 {font-size: 24px;}
#signup h2 label {font-size: 12px;}
#signup input.text {font-size: 24px; width: 600px; padding: 3px 6px;}
#signup input.submit {font-size: 16px;}
#muffens {font-size: 12px; padding: 5px 0 0 5px; color: #777;}
#download {padding: 5px 0 0 5px;}

.artikkel {margin: 30px 0; padding: 20px; background: url(../images/email.gif) repeat; font-size: 18px; border-bottom: 1px solid #a2a2a2;}
.artikkel img {float: left; margin-right: 20px;}
#tekst h2 {font-size: 24px; font-weight: bold;}
#tekst p {margin-bottom: 1em;}
#tekst ul {list-style: disc; font-size: 14px; margin: 0 0 2em 20px; }
#tekst li {margin-bottom: 5px;}
#tekst {float: left; width: 365px;}
#sjekk_mail #tekst {width: 500px;}

#dsq-subscribe {display: none;}

.clear {clear: both;}