<div class="artikkel" id="sjekk_mail">
  <img src="images/sjekk_mail.png" />
  <div id="tekst">
    <h2>You've got mail</h2>
    <p>Ja, nok en film som hadde vært bedre med zombier. Tenk om Meg Ryan ble spist av Tom Hanks på slutten istedet. Det hadde vært noe.</p>
    <p>Forresten: Ta en titt i innboksen din, så finner du en epost med en sånn lenke du må trykke på.</p>
  </div>
  <div class="clear"></div>
</div>